<div id="footer">
  <p>
    <%= theme_configs[:footer][:links].collect{ |data|
      name, url = data
      %{<a href="#{url}">#{name}</a>}
    }.join(' :: ')%>
  </p>
</div>
<%= render 'layouts/google_analytics'%>
