<div id="logo">
  <a href="/"><img src="/images/opm/logo.png" alt="Logo"></a>
  <p id="tagline"><%= theme_configs[:blog_description] %></p>
</div>
<div id="mobile-nav">
  <%= theme_configs[:mobile_navigation][:links].collect{ |data|
    name, url = data
    %{<a href="#{url}">#{name}</a>}
  }.join(' :: ')%>
</div>

<hr class="mobile">
