<div id='sidebar'>
  <subscribe>
    <small>Subscribe:
    <%= theme_configs[:subscribe][:links].collect{ |data|
      name, url = data
      %{<a href="#{url}">#{name}</a>}
    }.join(' | ')%>
  </subscribe>

  <div class="typo-sidebars">
    <%= render_sidebars %>

    <div class="sponsor">
      <h3>Our Sponsor</h3>
      <div><img src="/images/opm/sponsor-softlayer.png" alt="Sponsor SOFTLAYER"></div>
    </div>
  </div>
</div>
