<section id='sidebar' class='span4'>
  <h1><a href="/">blog title</a></h1>
  <p id="tagline"><a href="/">description</a></p>

  <subscribe>
    <ul>
      <li><small>Subscribe: <a href="#">rss</a> | <a href="#">email</a> | <a href="#">twitter</a></small></li>
      <li><small>Join 225,000 sexy readers</small></li>
    </ul>
  </subscribe>

  <nav>
    <ul>
      <li><a href="/pages/about/">About</a></li>
      <li><a href="/archives/">Archives</a></li>
      <li><a href="/categories/">Categories</a></li>
      <li><a href="/tags/">Tags</a></li>
    </ul>
  <nav>
</section>
