<div id='sidebar'>

  <hr class="mobile">

  <div id="search">
    <%= form_tag('/search', method: :get) do %>
      <%= text_field_tag :q, params[:q], placeholder: '… Search Articles' %>
    <% end %>
  </div>

  <hr class="mobile">

  <div class="typo-sidebars">
    <%= render_sidebars %>

    <div class="sponsor">
      <h3>Our Sponsor</h3>
      <div>
        <a href='http://www.softlayer.com'>
          <img src="/images/opm/sponsor-softlayer.png" alt="Sponsor SOFTLAYER"></div>
        </a>
    </div>
  </div>
</div>
