html {
  font-family: Helvetica Neue, Arial, Verdana, sans-serif;
}

h1, h2{
  font-family: Georgia,Times,serif;
}

@media all {
  body {
    background-color: #fff;
    color: #000;
    font: normal 100%;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    color: #d3d3d3;
    font-size: 280%;
    font-weight: normal;
    letter-spacing: .7px;
    line-height: 18px;
    padding: 0;
  }
  h1 a:link {
    border-style: none;
    color: #d3d3d3;
    text-decoration: none;
  }
  h1 a:visited {
    border-style: none;
    color: #d3d3d3;
    text-decoration: none;
  }
  #tagline {
    color: #56a49f;
    font-size: 100%;
    margin-bottom: 5em;
    margin-top: .5em;
    padding: 0;
  }
  #tagline a:link {
    color: #56a49f;
    font-size: 115%;
    padding: 0;
  }
  #tagline a:visited {
    color: #56a49f;
    font-size: 115%;
    padding: 0;
  }
  h2 {
    color: #333;
    font-size: 2.2em;
    font-weight: normal;
    margin-top: 1em;
  }
  h3 {
    color: #666;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1em;
    margin-top: 1.5em;
  }
  h4 {
    color: #000;
    font-size: 1em;
  }
  h5 {
    color: #666;
    font-size: .7em;
    font-weight: bold;
    letter-spacing: .2em;
    line-height: .2em;
  }
  h6 {
    color: #666;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: .1em;
    line-height: 1.5em;
    margin: 0 0 10px 0;
    margin-bottom: 1em;
  }
  h6 strong {
    color: #56a49f;
    font-weight: bold;
  }
  img {
    border: 0;
    padding: 3px;
  }
  img a {
    border: 0;
  }
  p {
    color: #333;
    font-size: 1.3em;
    line-height: 1.45em;
    margin: 0 0 10px 0;
    text-indent: 0;
    -webkit-font-smoothing: antialiased;
  }
  a:link {
    border-style: none;
    border-width: 0;
    color: #333;
    text-decoration: none;
  }
  a:visited {
    border: 0;
    border-style: none;
    border-width: 0;
    color: #333;
    text-decoration: none;
  }
  a:hover {
    border: 0;
    border-style: none;
    border-width: 0;
    color: #999;
    text-decoration: none;
  }
  #container {
    margin: 40px auto;
    overflow: hidden;
    padding: 0 1em;
    width: 980px;
  }
  .entry {
    float: left;
    margin: auto;
    margin-top: 2em;
    width: 70%;
  }
  #fullwidth {
    float: left;
    padding: 5px 5px 5px 5px;
    width: 100%;
  }

  .article .page-header{
    font-family: Georgia,Times,serif;
  }
  .article h1, .article h2, .article h3, .article h4{
    font-family: Helvetica Neue, Arial, Verdana, sans-serif;
  }
  .article .content a:link {
    border-color: #c0c0c0;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    color: #303030;
    text-decoration: none;
  }
  .article .content a:visited {
    border-color: #c0c0c0;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    color: #303030;
    text-decoration: none;
  }
  .article .content a:hover {
    border-color: #c0c0c0;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    color: #999;
    text-decoration: none;
  }
  .article .content ul {
    font-size: 1.3em;
    padding: .1em 0 1em 1.3em;
    -webkit-font-smoothing: antialiased;
  }
  .article .content ol {
    font-size: 1.3em;
    padding: .1em 0 1em 1.3em;
    -webkit-font-smoothing: antialiased;
  }
  .article .content li {
    color: #333;
    line-height: 1.5em;
    padding: .2em 0 0 0;
  }
  .article .content blockquote {
    border-left: 2px solid #a5abab;
    color: #666;
    margin: 1.8em .8em;
    padding: 0 1em 0 1em;
  }
  .home_bottom {
    border-bottom: 1px solid #efefef;
    color: #dedede;
    font-size: 2em;
    line-height: 2.5em;
  }
  .navigation {
    text-transform: uppercase;
  }
  .navigation p {
    color: #666;
    font-size: .7em;
    font-weight: bold;
    letter-spacing: .2em;
    margin-top: 1em;
  }
  .navigation a {
    color: #666;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
  }
  .all_posts {
    font-size: 2.4em;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
  }
  .all_posts a {
    color: #d3d3d3;
  }
  .all_posts a:visited {
    color: #d3d3d3;
  }
  .all_posts a:hover {
    color: #666;
  }
  #sidebar {
    float: right;
    padding-top: 35px;
    width: 24.3%;
  }
  subscribe ul {
    float: left;
    font-size: 1em;
    list-style: none inside;
    margin: 0 0 40px 0;
    padding: 0;
  }
  subscribe ul li {
    line-height: 18px;
    padding: 0;
  }
  subscribe a:link {
    color: #56a49f;
  }
  subscribe a:visited {
    color: #56a49f;
  }
  subscribe a:hover {
    color: #999;
  }
  nav ul {
    clear: both;
    color: #333;
    float: left;
    font-size: .9em;
    list-style: none inside;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    line-height: 1.7em;
    padding: 0;
  }
  nav ul li a {
    color: #666;
  }
  #footer {
    margin: 40px auto;
    max-width: 59.375em;
    overflow: hidden;
    padding: 0 1em;
  }
  #footer p {
    color: #c0c0c0;
    font-size: .8em;
    letter-spacing: .2em;
    margin: 0;
    padding: 4px 0;
  }
  #footer a {
    color: #888;
  }
  #footer a:hover {
    color: #999;
  }
  .search {
    margin-top: 1em;
  }
  #arc {
    float: left;
    margin-bottom: 24px;
    margin-left: 5px;
    margin-right: 14px;
    margin-top: 0;
    overflow: hidden;
  }
  .arc p {
    color: #666;
    font-size: 1em;
    font-weight: normal;
  }
  .year th {
    color: #666;
    font-size: 1.5em;
    font-weight: bold;
  }
  .arctitle {
    color: #666;
    font-size: 1em;
    font-weight: normal;
  }
  .arctitle th {
    color: #999;
    font-size: 1.2em;
    font-weight: normal;
  }
  .arc2 {
    color: #999;
    font-size: 1em;
    font-weight: normal;
  }
  .arc2 th {
    color: #999;
    font-size: 1em;
    font-weight: normal;
  }
}
@media(max-width:800px) {
  #sidebar {
    float: none;
    width: auto;
  }
  h1 {
    position: absolute;
    top: 0;
    width: 100%;
  }
  p#tagline {
    margin: auto;
    position: absolute;
    top: 5px;
    width: 100%;
  }
  .entry {
    float: left;
    margin: auto;
    padding-top: 35px;
    width: 80%;
  }
  subscribe ul {
    margin-top: 4em;
  }
  nav ul {
    color: #c0c0c0;
    display: inline;
    font-size: .8em;
    letter-spacing: .2em;
    margin-left: 0;
    padding-left: 0;
    text-transform: lowercase;
  }
  nav ul li {
    display: inline;
    line-height: .5em;
    list-style: none;
    margin-left: 0;
  }
  nav ul li.first {
    display: inline;
    list-style: none;
    margin-left: 0;
  }
  nav ul li:before {
    color: #c0c0c0;
    content: "\0020 \003A \003A \0020";
  }
  nav ul li.first:before {
    content: " ";
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.6em;
  }
  h6 {
    font-size: 1em;
  }
  p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .article .content ul {
    font-size: 1.2em;
    line-height: 1em;
    padding: 0;
  }
  .article .content ol {
    font-size: 1.2em;
    line-height: 1em;
    padding: 0;
  }
}
@media(max-width:600px) {
  .entry {
    float: left;
    margin: auto;
    width: 100%;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1em;
  }
  p {
    font-size: 1.1em;
    line-height: 1em;
  }
  .article .content ul {
    font-size: 1.1em;
    line-height: 1em;
    padding: 0;
  }
  .article .content ol {
    font-size: 1.1em;
    line-height: 1em;
    padding: 0;
  }
}
@media(max-width:400px) {
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
    line-height: .9em;
  }
  .article .content ul {
    font-size: 1em;
    line-height: .9em;
    padding: 0;
  }
  .article .content ol {
    font-size: 1em;
    line-height: .9em;
    padding: 0;
  }
}
@media print {
  body {
    background: white;
    color: black;
    font-size: 14px;
    margin: 10px;
    width: auto;
  }
  #container {
    display: block;
  }
  #navigation {
    display: none;
  }
  #alignleft {
    display: none;
  }
  #alignright {
    display: none;
  }
  #sidebar {
    display: none;
  }
  #footer {
    display: none;
  }
}
.typo-sidebars ul, #commentList, .categorylist, #taglist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.categorylist, #taglist {
  font-size: 1.3em;
}
.typo-sidebars h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
  padding-bottom: 0;
}
