@media all {
  /* line 5, style.sass */
  html {
    font-family: Helvetica Neue, Arial, Verdana, sans-serif; }

  /* line 8, style.sass */
  body {
    background-color: white;
    color: black;
    font: normal 100%;
    padding: 10px;
    -webkit-font-smoothing: antialiased; }

  /* line 15, style.sass */
  h1, h2 {
    font-family: Georgia, Times, serif; }

  /* line 18, style.sass */
  h1 {
    color: lightgrey;
    font-size: 280%;
    font-weight: normal;
    letter-spacing: 0.7px;
    padding: 0; }
    /* line 24, style.sass */
    h1 a:link, h1 a:visited {
      border-style: none;
      color: lightgrey;
      text-decoration: none; }

  /* line 29, style.sass */
  #tagline {
    color: #56a49f;
    font-size: 100%;
    margin-top: 0.5em;
    padding: 0; }
    /* line 34, style.sass */
    #tagline a:link, #tagline a:visited {
      color: #56a49f;
      font-size: 115%;
      padding: 0; }

  /* line 39, style.sass */
  h2 {
    color: #333333;
    font-size: 2.2em;
    font-weight: normal;
    margin-top: 1em; }

  /* line 45, style.sass */
  h3 {
    color: #666666;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1em;
    margin-top: 1.5em; }

  /* line 52, style.sass */
  h4 {
    color: black;
    font-size: 1em; }

  /* line 56, style.sass */
  h5 {
    color: #666666;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 0.2em; }

  /* line 63, style.sass */
  h6 {
    color: #666666;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin: 0 0 10px 0;
    margin-bottom: 1em; }
    /* line 71, style.sass */
    h6 strong {
      color: #56a49f;
      font-weight: bold; }

  /* line 75, style.sass */
  img {
    border: 0;
    padding: 3px; }
    /* line 78, style.sass */
    img a {
      border: 0; }

  /* line 81, style.sass */
  p {
    color: #333333;
    font-size: 1.3em;
    line-height: 1.45em;
    margin: 0 0 10px 0;
    text-indent: 0;
    -webkit-font-smoothing: antialiased; }

  /* line 95, style.sass */
  a:link {
    border: 0;
    border-style: none;
    border-width: 0;
    text-decoration: none;
    color: #333333; }

  /* line 98, style.sass */
  a:visited {
    border: 0;
    border-style: none;
    border-width: 0;
    text-decoration: none;
    color: #333333; }

  /* line 101, style.sass */
  a:hover {
    border: 0;
    border-style: none;
    border-width: 0;
    text-decoration: none;
    color: #999999; }

  /* line 105, style.sass */
  #container {
    margin: 40px auto;
    overflow: hidden;
    padding: 0 1em;
    width: 980px; }

  /* line 111, style.sass */
  .entry {
    float: left;
    margin: auto;
    margin-top: 2em;
    width: 70%; }

  /* line 117, style.sass */
  #fullwidth {
    float: left;
    padding: 5px;
    width: 100%; }

  /* line 123, style.sass */
  .article h1, .article h2, .article h3, .article h4 {
    font-family: Helvetica Neue, Arial, Verdana, sans-serif; }
  /* line 125, style.sass */
  .article .page-header {
    font-family: Georgia, Times, serif; }
  /* line 133, style.sass */
  .article .content a:link {
    border-color: silver;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    text-decoration: none;
    color: #303030; }
  /* line 136, style.sass */
  .article .content a:visited {
    border-color: silver;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    text-decoration: none;
    color: #303030; }
  /* line 139, style.sass */
  .article .content a:hover {
    color: #999999;
    border-color: silver;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    text-decoration: none; }
  /* line 142, style.sass */
  .article .content ul, .article .content ol {
    font-size: 1.3em;
    padding: 0.1em 0 1em 1.3em;
    -webkit-font-smoothing: antialiased; }
  /* line 146, style.sass */
  .article .content li {
    color: #333333;
    line-height: 1.5em;
    padding: 0.2em 0 0 0; }
  /* line 150, style.sass */
  .article .content blockquote {
    border-left: 2px solid #a5abab;
    color: #666666;
    margin: 1.8em 0.8em;
    padding: 0 1em 0 1em; }

  /* line 156, style.sass */
  #sidebar, #logo {
    float: right;
    padding-top: 1.5em;
    width: 24.3%; }

  /* line 161, style.sass */
  #sidebar {
    clear: right; }

  /* line 164, style.sass */
  #logo img {
    margin: 1em 0 0 -5px;
    max-width: 100%; }

  /* line 168, style.sass */
  .sponsor img {
    margin-left: -5px;
    max-width: 100%; }

  /* line 172, style.sass */
  #mobile-nav {
    display: none; }

  /* line 175, style.sass */
  #footer {
    margin: 40px auto;
    max-width: 59.375em;
    overflow: hidden;
    padding: 0 1em; }
    /* line 180, style.sass */
    #footer p {
      color: silver;
      font-size: 0.8em;
      letter-spacing: 0.2em;
      margin: 0;
      padding: 4px 0; }
    /* line 186, style.sass */
    #footer a {
      color: #888888; }
    /* line 188, style.sass */
    #footer a:hover {
      color: #999999; }

  /* line 192, style.sass */
  .search input {
    width: 180px;
    height: 20px;
    padding: 4px 22px 4px;
    background: white url("/images/opm/search.png") 5px 50% no-repeat; }

  /* line 198, style.sass */
  .typo-sidebars ul, #commentList, .categorylist, #taglist {
    list-style: none;
    margin: 0;
    padding: 0; }

  /* line 203, style.sass */
  .categorylist, #taglist {
    font-size: 1.3em; }

  /* line 206, style.sass */
  .typo-sidebars h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-bottom: 0; } }
@media screen and (max-width: 980px) {
  /* line 214, style.sass */
  #container {
    width: 100%; }

  /* line 217, style.sass */
  h2 {
    font-size: 1.8em; }

  /* line 219, style.sass */
  h3 {
    font-size: 1.5em; }

  /* line 221, style.sass */
  p, .article .content ul, .article .content ol {
    font-size: 1em; } }
@media screen and (max-width: 480px) {
  /* line 227, style.sass */
  h2 {
    font-size: 1.5em; }

  /* line 229, style.sass */
  h3 {
    font-size: 1.3em; }

  /* line 232, style.sass */
  #container {
    width: 100%; }

  /* line 235, style.sass */
  #logo, .entry {
    display: block;
    float: none;
    width: 100%; }

  /* line 240, style.sass */
  #sidebar {
    display: none; }

  /* line 243, style.sass */
  #logo {
    padding-top: 0;
    text-align: center; }

  /* line 247, style.sass */
  #container {
    margin: 0;
    padding: 0; }

  /* line 251, style.sass */
  #mobile-nav {
    display: block;
    text-align: center; } }
@media print {
  /* line 258, style.sass */
  body {
    background: white;
    color: black;
    font-size: 14px;
    margin: 10px;
    width: auto; }

  /* line 265, style.sass */
  #container {
    display: block; }

  /* line 268, style.sass */
  #navigation, #alignleft, #alignright, #sidebar, #footer {
    display: none; } }
