staging: &default              
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost

development:
  <<: *default 
  database: opm_development
  username: postgres

test:
  <<: *default 
  database: opm_test
  username: postgres


