# This is the config file only for the onepennymedia theme.

blog_title: One Penny
blog_description: The blog media of OnePennyEntrepreneur.com.
footer:
  links:
    'About': '/pages/about'
    'Contact': 'mailto:info@yifency.com'
    'RSS': 'http://feeds.feedburner.com/OnePennyMedia'
    'One Penny Entrepreneur EN': 'http://www.onepennyentrepreneur.com'
    'CN': 'https://www.yifency.com'
mobile_navigation: # Navigation displayed under the log for small screens, like iPhone.
  links:
    'Home': '/'
    'Archives': '/archives'
    'Categories': '/categories'
    'Tags': '/tags'
    'Search': '#search'
