<div class="share">
  <div class="button">
    <img src="/images/opm/share.png"></img>
    <span>share</span>
  </div>

  <div class="services">
    <ul>
      <li class="service-fb"><a>Facebook</a></li>
      <li class="service-t"><a>Twitter</a></li>
      <li class="service-li"><a>Linkedin</a></li>
      <li class="service-r"><a>Reddit</a></li>
      <li class="service-g last"><a>Google+</a></li>
    </ul>
  </div>
</div>
